@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');html,
body {
  padding: 0;
  margin: 0;
  font-family:"Roboto",Arial,sans-serif;
}
html,body{
  height: 100%;
}
#__next{
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
}
